.AdminPage-content {
    display: flex;
    width: 100%;
}

.AdminMenu {
    height: 500px;
    padding-right: 50px;
    border-right: 1px solid #d3d3d3;
    margin-right: 50px;
}

.AdminMenu .menu-box {
    width: 200px;
    height: 300px;
    border: 1px solid #d3d3d3;
    margin-top: 10px;
    padding: 20px;
}

.AdminMenu .menu-box button {
    display: block;
    margin-bottom: 10px;
}

.SetTheme {
    display: flex;
}

.SetTheme > div {
    margin-right: 100px;
}

.SetTheme .theme-box
{
    border: 1px solid #d3d3d3;
    margin-top: 10px;
}

.SetTheme .menu-box {
    width: 200px;
}

.SetTheme .setTheme {
    display: flex;
}

.SetTheme .theme-left .theme-box {
    width: 250px;
    height: 300px;
    padding: 10px;
}

.SetTheme .theme-left .theme-box .theme-list {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    font-size: 13px;
}

.SetTheme .theme-right {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.SetTheme .theme-right > * {
    margin-bottom: 10px;
}


.SetTheme .theme-right label {
    width: 100px;
    margin: 0;
}


.SetTheme .theme-right .saveTheme {
    border: 1px solid #000;
    width: 150px;
}

.SetTheme .result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.SetTheme .result .chosenDiv {
    display: flex;
    font-size: 13px;
    margin-bottom: 8px;
}


.UserInfo {
    width: 100%;
    overflow-x: scroll;
}

.UserInfo h3 {
    margin-bottom: 10px;
}

.UserInfo table {
    border-collapse: collapse;
    border: 1px solid #3d3d3d;
}

.UserInfo table th, td {
    white-space: nowrap;
    border: 1px solid #d3d3d3;
    padding: 3px 10px;
}


.UserInfo thead th,
.UserInfo tbody th {
  background-color: #f8f8f8;
}