.searchResult {
    width: 100%;
    overflow-x: scroll;
    padding: 10px 0 0;
}

.searchResult::-webkit-scrollbar {
    margin-top: 10px;
    width: 10px;  /* 스크롤바의 너비 */
}

.searchResult::-webkit-scrollbar-thumb {
    height: 50%; /* 스크롤바의 길이 */
    background: #ec9d5d; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.searchResult::-webkit-scrollbar-track {
    background-color: #f5f8fb;  /*스크롤바 뒷 배경 색상*/
}

.searchResult .result-container {
    width: 100%;
    display: flex;
}

.searchResult .result-list .result-item {
    width: 100px;
    display: flex;
    flex-direction: column;
    margin: 10px 2px;
}

.searchResult .result-list .result-item .item-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.searchResult .result-list .result-item .item-img img {
    width: 100%;
    height: 100%;
}

.searchResult .result-list .result-item .item-name {
    font-size: 12px;
    font-weight: 700;
}

.searchResult .btn {
    font-size: 12px;
    font-weight: 700;
    padding: 3px 7px;
    margin: 8px 5px 5px 0;
    border: 1px solid #fce8d7;
}

.searchResult .btn:hover {
    background-color: #FF6928;
    color: #fff;
}