* {
    letter-spacing: -0.7px;
}

.default-item {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 0 auto 120px;
}

.item-list {
    margin-top: 30px;
}

.item {
    display: inline-flex;
    width: 180px;
    border: 1px solid #d3d3d3;
    border-right: none;
    padding: 15px;
}

.item:nth-child(5),
.item:last-child {
    border-right: 1px solid #d3d3d3;
}

.item:nth-of-type(n+6) {
    border-top: none;
}

.item * {
    display: block;
}

.item-link {
    width: 100%;
}

.item-img ~ * {
    margin-top: 3px;
    margin-left: 5px;
}

.item-img {
    width: 150px;
    height: 150px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    margin-bottom: 8px;
}

.item-name {
    display: block;
    white-space: nowrap;
    overflow : hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.item-desc {
    font-size: 13px;
}

.item-price {
    font-size: 12px;
    font-weight: 700;
    color: #FF6928;
}

.item-cate {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    background-color: #FF6928;
    color: #fff;
    padding: 5px 7px;
    border-radius: 5px;
    line-height: 0.5rem;
}