/* Header */
header.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto;
}

.logo {
  width: 160px;
}

.search {
  position: relative;
  width: 460px;
}

.search-input {
  border: 1.5px solid #d3d3d3;
  border-radius: 30px;
  width: 100%;
  height: 30px;
  padding: 1px 15px;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 5px;
  width: 30px;
  height: 30px;
  background-color: inherit;
  border: none;
}

.search-btn img {
  position: absolute;
  transform: translateY(-50%);
  left: 5%;
  width: 25px;
  height: 25px;
}


.login-btn, 
.join-btn {
  display: inline-block;
  font-family: 'Noto Sans KR';
  font-weight: 700;
  color: #222;
  width: 54px;
  font-size: 10px;
  padding: 5% 0;
  text-align: center;
}

.join-btn {
  margin-left: 5px;
  background-color: #FFB798;
}

.join-btn:hover,
.login-btn:hover {
  color: #fff;
  background-color: #FF6928;
}