input#join-id {
    width: 143px;
    margin-right: 2px;
}

.join-id-div {}

.btn.id-check {
    font-size: 9px;
    width: 50px;
    padding: 5px 5px;
    background-color: #FFB798;
}

.btn.id-check:hover {
    color: #fff;
    background-color: #FF6928;
}