nav {
    background-color: #FF6928;
}

nav .container {
    overflow: visible;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: #FF6928;
}

nav .main-category,
nav .sub-category {
    display: flex;
    width: 100%;
}

nav .main-category {
    justify-content: space-between;
}

nav .sub-category {
    position: absolute;
    top: 0;
}

nav .nav-item {
    width: 117px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13.5px;
    color: #fff;
    font-weight: 700;
    padding: 0 13px;
    height: 50px;
}

nav .category-item:hover {
    background-color: #ff4d00;
}

nav .sub-panel {
    position: absolute; 
    display: none;
    width: 330px;
    padding: 20px 5px 20px 20px;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    z-index: 1;
}

nav .category-item:last-child .sub-panel {
    width: 117px;
    padding: 20px 10px;
}

nav .category-item:last-child .sub-panel .sub-item {
    width: 50px;
}

nav .sub-item {
    display: inline-block;
    width: 130px;
    font-size: 13px;
    letter-spacing: -0.8px;
    margin: 5px;
    margin-left: 15px;
}

nav .sub-item:hover {
    color: #ff4d00;
    font-weight: 700;
}

nav .category-item:hover .sub-panel {
    display: block;
}

