.page-ul {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    padding: 0;
}

.page-li {
    font-size: 15px;
    padding: 15px;
}

.page-active {
    font-weight: 700;
    color: #FF6928;
}