.SubCategoryList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SubCategoryList h2 {
    margin: 70px 0 30px;
}

.SubCategoryList .subCategoryBox {
    width: 80%;
    border: 1px solid #d3d3d3;
    margin: 30px 0 50px;
    padding: 30px;
}

.SubCategoryList .subCategoryBox button {
    width: 180px;
    text-align: start;
    margin: 5px;
}