.Theme.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    overflow: hidden;
}

.Theme > * {
    display: flex;
}

.Theme .Title > div {
    display: flex;
    flex-wrap: nowrap;
}

.theme-group {
    overflow: hidden;
    padding-left: 15px;
    border-left: 1px solid #d3d3d3;
}

.theme-shift,
.theme-btn {
    white-space: nowrap;
    border: 2px solid #d3d3d3;
    border-radius: 35px;
    padding: 5px 20px;
    margin-right: 15px;
    letter-spacing: -1px;
}

.theme-shift {
    width: 100px;
}

.theme-shift button {
    width: 30px;
}

.theme-shift > *:hover {
    font-weight: 700;
}

.theme-btn:hover {
    border-color: #FF6928;
    
    border-color: #FFB798;
    background-color: #FF6928;
    color: #fff;
    font-weight: 700;
}