/* Common */
* {
  margin: 0;
  box-sizing: border-box;
}

a, button, input {
  border: none;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

a, button {
  cursor: pointer;
}

input {
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  padding: 5px 12px;
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.15);
  color: #444;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

.btn {
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



/* App */

.App {
  flex-direction: column;
  position: relative;
}

.container {
  width: 1050px;
  margin: auto auto;
}

.square {
  width: 550px;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  margin: 130px auto 0;
  padding: 50px 0;
  text-align: center;
}

.page-btn {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.8px;
  padding: 10px 25px;
  margin-top: 50px;
  background-color: #FF6928;
  color: #fff;
}

form {
  margin: 50px 0 0;
}

form > div {
  width: 280px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 15px auto 0;
}

form label {
  display: inline-block;
  width: 80px;
  text-align: left;
  font-size: 13px;
  letter-spacing: -0.8px;
  color: #444;
}
