.search {
  position: relative;
  width: 25rem;
}

.search .search-input {
  width: 100%;
  padding: 0.6rem 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #aaa;
  font-size: 1rem;
}

.search .search-btn {
  position: absolute;
  top: 0.2rem;
  right: -0.3rem;
  background-color: transparent;
  height: 2rem;
}

.search .search-btn img {
  height: 100%;
}