.search {
  position: relative;
  width: 25rem;
}

.search-input {
  width: 100%;
  padding: 0.6rem 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #aaa;
  font-size: 1rem;

  /* 2
  border: 2px solid #ff4a08af; */
}

.search-btn {
  position: absolute;
  top: 0.2rem;
  right: 0.3rem;
  margin: 0;
  padding: 0;
  background-color: transparent;
  height: 2.1rem;
}

.search-btn img {
  height: 100%;
}