.hbtn-group {
    display: flex;
    align-items: center;
}

img.avatar {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffe7dd;
}

#avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-nickname {
    font-size: 12px;
}

#recentItems-btn {
    font-size: 12px;
    font-weight: 700;
    margin-right: 15px;
}
#recentItems-btn:hover {
    color: #fff;
    background-color: #FF6928;
}

.Avatar .login-btn {
    margin-right: 10px;
}

.admin-btn, #recentItems-btn,
.login-btn:hover {
    color: #fff;
    background-color: #ff9568;
}

.admin-btn {
    width: 100%;
    margin-left: 10px;
    font-weight: 700;
}

#recentItems-btn:hover,
.admin-btn:hover {
    color: #222;
    background-color: #ffb99b;
}