.EditInfo #edit-btn {
    background-color: #ffb99b;
    color: #444;
    margin-right: 10px;
}

.EditInfo #edit-btn:hover {
    background-color: #ff6928;
    color: #fff;
}

.EditInfo #secession-btn {
    color: #fff;
    background-color: #444;
}

.EditInfo #secession-btn:hover {
    color: #fff;
    background-color: #222;
}