.EditInfo #edit-btn {
    margin-right: 10px;
    background-color: #FFB798;
    color: #222;
}

.EditInfo #secession-btn:hover,
.EditInfo #edit-btn:hover {
    background-color: #fff;
    color: #FF6928;
}