.join-id {
  display: flex;
}

.dupl-btn {
  width: 40%;
  font-size: 0.8rem;
  margin-top: 0;
  margin-left: 0.2rem;
}

.join-gender {
  display: flex;
  align-items: center;
  width: 30%;
}

.join-gender label {
  margin-left: 0.5rem;
}